* {
    margin: 0;
    padding: 0;
}

header {
    margin-top: -20px;
    background-color: #2B2B2B;
    height: 120px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5), -5px -5px 10px rgba(255, 255, 255, 0.5);
}

div .Logo {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Logo img {
    width: 100px;
    height: 100px;
}

.Navigimi {
    width: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.Menus ul {
    width: 800px;
    font-size: large;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    list-style: none;
    padding-top: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Menus a {
    text-decoration: none;
    color: #E1DACA;
    background-color: #2B2B2B;
    border-radius: 10px;
    padding: 10px;
    width: 100px;
    height: 35px;
    font-size: larger;
}

.Menus a:hover {
    background-color: #E1DACA;
    color: #2B2B2B;
}

.BigBut {
    width: 200px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LogButt {
    padding: 10px 0 10px 50px;
    width: 100px;
    display: inline-block;
    border-radius: 15px;
    border: 1px solid #2B2B2B;
    color: #2B2B2B;
    background-color: #E1DACA;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
}

.LogButt:hover {
    background-color: #91000080;
    color: #E1DACA;
}

.Bigbox {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    padding-top: 200px;
    background-image: url(Images/test1.jpg);
    background-size: cover;
    width: 100%;
    height: 500px;
}

.Prsh {
    padding: 20px 10px;
    width: 300px;
    background-color: #bcb3a0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #6f6e6e;
}

.Prsh hr {
    border: none;
    height: 2px;
    background-color: #2B2B2B;
}

#VijaMes {
    margin-bottom: 10px;
    border: none;
    height: 4px;
    background-color: #bcb3a0;
}

.Nextbox {
    width: 100%;
    height: 450px;
    padding-top: 20px;
    margin-top: 50px;
}

.Nextbox h2 {
    padding-left: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.TeReja {
    border: 10px solid #2B2B2B;
    border-radius: 20px;
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.New {
    padding-top: 25px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

footer {
    margin-top: 20px;
    width: 100%;
    height: 300px;
    background-color: #2B2B2B; 
    background: linear-gradient(90deg, #2B2B2B, #1a1a1a, #2B2B2B);
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.3);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #E1DACA;
}

.footer {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.Kembet {
    width: 150px;
    height: 150px;
}

.Linqet {
    width: 80%;
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.Linqet li {
    padding-top: 8px;
}

footer .Logo {
    padding-top: 70px;
    padding-left: 100px;
    height: 180px;
    width: 180px;
}
