.Recetat {
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
}

.Recetat h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
}

.RecetatContainer {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.RecetatBox {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 280px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}
.RecetatBox img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 15px;
}

.RecetatBox:hover {
    transform: translateY(-5px);
}

.RecetatBox img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.RecetatBox h2 {
    font-size: 1.5em;
    color: #444;
    margin-bottom: 10px;
}

.RecetatBox p {
    font-size: 1em;
    color: #666;
    line-height: 1.5;
}


/*mini-nav*/

.MiniNav {
    background-color:#666;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin: 20px 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#9f9888;
}

body {
    margin: 0;
    padding: 0;
}
.navbar {
    width: 100%;
    display: flex;
    justify-content: center;
  
}

.MiniNav {
    background-color: #666;
    margin-top: -3px;   
    width: 600px;
    height: 80px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;  
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.MiniNav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.MiniNav li {
    margin: 0 20px; 
}

.MiniNav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 8px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.MiniNav a:hover {
    background-color: white;
    color: black; 
}

.Header, .footer, .Recetat {
    margin: 0;
    padding: 0;
}

/* pjesa e sliderit*/

.swiper {
    width: 100%;
    padding: 2rem 0;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sektoriS-slide-img {
    width: 18rem; 
    height: 18rem; 
    border-radius: 2rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.sektoriS-slide-img img {
    width: auto; 
    height: 100%; 
    object-fit: contain; 
    display: block; 
}

.swiper-button-next,
.swiper-button-prev {
    background: none; 
    color: white; 
    border: none;
    outline: none; 
    font-size: 2rem; 
    cursor: pointer;
    transition: color white ease; 
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    color:white; 
}

.swiper-button-next:focus,
.swiper-button-prev:focus {
    outline: none;
    box-shadow: none;
}

.swiper-button-next:active,
.swiper-button-prev:active {
    background: none;
    color: white;
    box-shadow: none; 
}
.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 2rem;
    color: inherit; 
}