.Recetat {
    text-align: center;
    padding: 1.25rem;
}

.Recetat h1 {
    font-size: 2.5em;
    margin-bottom: 1.25rem;
    color: #333;
}

.RecetatContainer {
    display: flex;
    justify-content: center;
    gap: 1.5625rem;
    flex-wrap: wrap;
    flex: 5;
    padding-bottom: 1.875rem;
    overflow: hidden;
}

.RecetatBox {
    background: #fff;
    border: 0.0625rem solid #ddd;
    border-radius: 0.625rem;
    width: 17.5rem;
    padding: 0.9375rem;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}
.RecetatBox img {
    width: 100%;
    height: 15.625rem;
    object-fit: cover;
    border-radius: 0.9375rem;
    margin-bottom: 0.9375rem;
}

.RecetatBox:hover {
    transform: translateY(-0.3125rem); /*5px*/
}


.RecetatBox h2 {
    font-size: 1.5em;
    color: #444;
    margin-bottom: 0.625rem;
}

.RecetatBox p {
    font-size: 1em;
    color: #666;
    line-height: 1.5;
}


/*mini-nav*/

.MiniNav {
    background-color: #666;
    margin-top: -1.375rem;   
    margin-bottom: 2.5rem;
    width: 37.5rem;
    height: 5rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;  
    border-bottom-right-radius: 0.625rem;
    border-bottom-left-radius: 0.625rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#9f9888;
}

body {
    margin: 0;
    padding: 0;
}
.navbar {
    width: 100%;
    display: flex;
    justify-content: center;
  
}


.MiniNav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.MiniNav li {
    margin: 0 1.25rem; 
}

.MiniNav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 0.5rem 1.25rem;
    border-radius: 0.3125rem;
    transition: background-color 0.3s ease;
}

.MiniNav a:hover {
    background-color: white;
    color: black; 
}


/* pjesa e sliderit*/


.sliimg img {
    width: 12.5rem;
    height: 12.5rem;
    display: none;
}

.sliderii {
    width: 100%;
    height: 18.75rem;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

img.Shfaqe {
    display: block;
}

.slidestot {
    width: 18.75rem;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow button {
    border: #444;
    width: 1.25rem;
    height: 2.8125rem;
    margin: 0 2.5rem;
}


