.Perberes {
    background-color: white;
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap; */

}

.Seleksione {
    border: 2px solid #ccc;
}

/*Share Your Own CSS*/


.ShareYourOwn {
    background-color: #f9f9f9;
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-image: url(Images/12.jpg);
}

.ShareYourOwn h1 {
    text-align: center;
    color:whitesmoke;
    margin-bottom: 20px;
}


.share {
    margin-bottom: 20px;
}

.share label {
    display: block;
    font-size: 16px;
    text-align: left;
     color: whitesmoke;
    margin-bottom: 10px;
}

.share input,
.share textarea {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 6px;
    background-color: #fff;
    box-sizing: border-box;
}

.share input:focus,
.share textarea:focus {
    border-color: #ccc;
    outline: none;
}

.share textarea {
    resize: vertical;
}

.form-group input[type="file"] {
    display: none; 
}

.form-group .custom-file-upload {
    display: inline-block;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}


.button {
    width: 100%;
    padding: 14px;
    font-size: 18px;
    color: white;
    background-color:#bcb3a0;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}